<% content_for :title, 'カテゴリ作成' %>
<% content_for :section_label, '承認管理' %>

<div class="card card-lift">
  <div class="card-header bg-white fw-semibold">新しいカテゴリ</div>
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
