<% content_for :title, "等級編集" %>
<% content_for :section_label, "マスタ管理" %>

<div class="card card-lift">
  <div class="card-body">
    <h2 class="h5 mb-3">等級を編集</h2>
    <%= render "form", grade_level: @grade_level %>
    <%= link_to "一覧へ戻る", admin_grade_levels_path, class: "btn btn-link mt-3" %>
  </div>
</div>
